@{
    ViewBag.Title = "About";
}

<h3><strong>Welcome to the Crowd AI information page!</strong></h3>

<p>
    This website is part of a research project looking into interactive evolution of complex controllers.
    The process is evolutionary because it is refined through many iterations, and it is interactive
    because it is you, the user, who directs this process by choosing your favourite candidates (you get to
    see videos of their resulting behaviour).
</p>

<p>
    You may start your own evolutionary process, or you can collaborate with other users by branching from their
    results.
</p>

<h3><strong>Credits</strong></h3>

<p>
    CrowdAI is a large project that builds on great work by other people. Minecraft simulations are posible thanks to <a href="https://www.microsoft.com/en-us/research/project/project-malmo/">Project Malmo</a> by Microsoft.
    Many thanks to them for their help during development! At the heart of our project is <a href="https://en.wikipedia.org/wiki/Neuroevolution">neuroevolution</a>.
    In particular, we use an algorithm called NEAT, and in particular our code derives from the <a href="http://sharpneat.sourceforge.net/">SharpNEAT</a> project.
</p>

<h3><strong>Let us know</strong></h3>

<p>
    Do you have any comments? Did you find a bug? Please let us know what happened, and sorry for the inconvenience!
    You can reach us at:  <a href="http://www.google.com/recaptcha/mailhide/d?k=013z3EEjsf_tSwxQhpkmhO6Q==&amp;c=1_A0bxWI9mlRZ3_hBZSdMQ==" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d013z3EEjsf_tSwxQhpkmhO6Q\x3d\x3d\x26c\x3d1_A0bxWI9mlRZ3_hBZSdMQ\x3d\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">p...</a>@@itu.dk
</p>