@{
    ViewBag.Title = "Contact";
}
<body onunload="return myFunction()">
    <h3>
        <strong>IT University of Copenhagen</strong>
    </h3>

    <address>
        <strong>Project supervisor:</strong>   Sebastian Risi<br />
        <strong>Postdoc:</strong> Pablo González de Prado Salas
        <br /> Reach us at: <a href="http://www.google.com/recaptcha/mailhide/d?k=013z3EEjsf_tSwxQhpkmhO6Q==&amp;c=1_A0bxWI9mlRZ3_hBZSdMQ==" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d013z3EEjsf_tSwxQhpkmhO6Q\x3d\x3d\x26c\x3d1_A0bxWI9mlRZ3_hBZSdMQ\x3d\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">p...</a>@@itu.dk
    </address>
</body>
