
@{
    ViewBag.Title = "EvolutionBusy";
}

<h2>Appologies!</h2>

<p>The server is at full capacity at the moment.</p>
<p>Why? We need to run Minecraft in our server for each user, so the number
    of simultaneous users we can handle is very small!</p>

