
@{
    ViewBag.Title = "UnexpectedError";
}

<h2>Oh no!</h2>

<p>Unfortunately an error occurred and evolution was not able to start correctly.</p>
<p><br /><strong>Why did this happen?</strong></p>
<p>
    This website is definitely not bug-free yet. One possibility is that you were inactive
    for too long, and your slot was allocated to another user. Please do try again!
    Just click "Home" and everything should work. Otherwise, we apologize for the inconvenience,
    and please consider letting us know what happened!
    <br />You can reach us at:  <a href="http://www.google.com/recaptcha/mailhide/d?k=013z3EEjsf_tSwxQhpkmhO6Q==&amp;c=1_A0bxWI9mlRZ3_hBZSdMQ==" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d013z3EEjsf_tSwxQhpkmhO6Q\x3d\x3d\x26c\x3d1_A0bxWI9mlRZ3_hBZSdMQ\x3d\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">p...</a>@@itu.dk
</p>


